* {
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;                  
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    width:100%;
    background-color: #e5e5e5;
}

#cabecalho {
    height: 100px;
    background-color: #fff;
    margin: 15px;
    text-align: center;
    border-top: 10px solid #28a4c9;
}

titulo {
    margin-top: 12px;
}

#menu {
    margin: 15px;
    background-color: #fff;   
    border-top: 10px solid #28a4c9;
}

#menu ul {
    padding: 0;
}

#menu ul li {
    list-style-type: none;
    padding: 10px 25px;
    position: relative;
    overflow: hidden;
}

#menu ul li:active {
    background-color: #b9def0;
}

#menu ul li a {
    display: inline-block; 
    padding: 10px 15px;
    text-decoration: none;
    color: #28a4c9;
    text-align: center;
    font-size: 18px;
    text-indent: 10px;
}

.glyphicon {
    font-size: 18px;
    top: 2px;
    padding: 15px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}